<div>
  <form ng-cloak class="cinfo" name="candidate_information">
    <fieldset class="names">
      <label>Candidate First Name:</label>
      <input disabled type="text" ng-model="examinee.FirstName" />
      <label>Candidate Last Name:</label>
      <input disabled type="text" ng-model="examinee.LastName" />
      <label>MI:</label>
      <input type="text" ng-model="examinee.MiddleInitial" />
    </fieldset>
    <h1>Things 1</h1>
    <fieldset class="dob">
      <label>DOB (mm/dd/yyy):</label>
      <select ng-model="examinee.DOB.month" ng-options="item.value as item.name for item in staticList.months">
        <option value="" disabled selected>Month</option>
      </select>
      <input type="text" ng-disabled="!examinee.DOB.month" pattern="{{getRegex('day')}}" ng-model="examinee.DOB.day" placeholder="Day"/>
      <p style="color:red;" ng-show="examinee.DOB.day.$error">ERROR</p>
      <input type="text" ng-disabled="!examinee.DOB.day" pattern="{{getRegex('year')}}" ng-model="examinee.DOB.year" placeholder="Year" />
    </fieldset>
    <fieldset>
      <label>Gender:</label><br>
      <input type="radio" ng-model="examinee.GenderID" value="1">Male
      <input type="radio" ng-model="examinee.GenderID" value="2">Female
    </fieldset>
    <fieldset>




      <selectable searchable="false" highlight lookup="lookupLists.Ethnicity.values"></selectable>


</fieldset>
    <label>Grade:</label>
    <select ng-model="examinee.GradeID" ng-options="item.LkpValue as item.ValueDescription for item in lookupLists.Grade.values">
    </select>
    <!-- Ethnicity goes here -->
    <!-- Language Goes here -->
    <label>**The language spoken most often in the home is:</label>
    <select ng-model="examinee.LanguageSpokenAtHomeID" ng-options="item.LkpValue as item.ValueDescription for item in lookupLists.Language.values"></select>
    <label ng-show="examinee.LanguageSpokenAtHomeID == 285">**If other language (please specify):</label>
    <input type="text" ng-show="examinee.LanguageSpokenAtHomeID == 285" ng-model="examinee.OtherLanguageSpokenAtHome" />
    <label>Mother's Language Country of Origin (required if Speaks Spanish selected for language)</label>
    <select ng-show="" ng-model="examinee.MotherCountryOfOriginID" ng-options="item.LkpValue as item.ValueDescription for item in lookupLists.Country.values"></select>
    <label>Father's Language Country of Origin (required if Speaks Spanish selected for language)</label>
    <select ng-model="examinee.FatherCountryOfOriginID" ng-options="item.LkpValue as item.ValueDescription for item in lookupLists.Country.values"></select>
    <label>Candidate's Language Country of Origin (required if Speaks Spanish selected for language)</label>
    <select ng-model="examinee.SelfCountryOfOriginID" ng-options="item.LkpValue as item.ValueDescription for item in lookupLists.Country.values"></select>
    <button ng-click="changeTo(2)">Continue</button>
  </form>

</div>
