<div>
  <h1 stuck class="text-center blue-white">Consent for <b>{{firstname}} {{lastname}}</b></h1>
  <div ng-bind-html="terms"></div>
  <div class="signature-check">
  <form class="terms-and-agreement" name="signature_form">
    <p>**Please enter first and last name to confirm consent</p>
    <label for="user_firstname">First Name</label>
    <input name="user_firstname" ng-model="user_firstname" type="text" placeholder="must match exactly as above"/>
    <br />
    <label for="user_lastname">Last Name</label>
    <input name="user_lastname" ng-model="user_lastname" type="text" placeholder="must match exactly as above"/>
    <button ng-click="changeTo(1)">No Thanks</button>
    <button ng-disabled="signature_form.$pristine || signature_form.$invalid || user_lastname != lastname || user_firstname != firstname" ng-click="changeTo(1)">I Agree</button>
  </form>
</div></div>
